<h1>index</h1>

<a href="/auth/github">log in or sign up with github</a>

<!-- <ul>
<% @example.as_json.each do |key, value| %>
  <li><%= key %>: <%= value.inspect %></li>
<% end %>
</ul> -->

<%= @url %>