<!DOCTYPE html>
<html>
  <head>
    <title>Unobtanium</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <%= yield_content :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
